* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --width-max: 1600px;
}

html {
  --s: 50px;
  --c: #191b22;
  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
  background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) /
      var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
    repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

.searchbox {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  #search-input {
    border-radius: 999px;
    padding: 8px 16px;
    background-color: rgb(72, 92, 131);
    width: clamp(200px, 70vw, 800px);
    border: none;
    color: white;
    font-size: 1.15em;
  }

  #search-input::placeholder {
    color: white;
  }
}

.movies-list {
  min-height: 100dvh;
  padding: 50px 0;
  max-width: var(--width-max);
  margin-inline: auto;
}
